# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\1\dims2014\JavaMentor\SpringCourse-master1\SpringCourse-master\Lesson21_Starter.CRUD_App1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
